:root {
    --green: rgb(1 198 140);
    --strong_green: rgb(3, 107, 90);
    --background: rgb(203, 204, 205);
    --black: rgb(25 29 61);

    --twitter: rgb(29 161 242);
    --facebook: rgb(72 103 170);
    --google: rgb(225, 73, 56);
    --pinterset: rgb(239, 20, 56);
    --instagram: rgb(228, 64, 95);
    --skype: rgb(19, 202, 255);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    margin: 3%;
    color: var(--strong_green);
}

.mid_header {
    background-color: var(--strong_green);
}

.link {
    text-decoration: none;
}

.top_header_right a {
    color: var(--strong_green);
}

.top_header_right button {
    border: none;
    color: var(--strong_green);
}

.top_header_right button:hover {
    color: var(--green);
}

.top_header_right a:hover {
    color: var(--green);
}

.mid_header_catagory_item_dropdown {
    display: none;
    z-index: 1000;
    box-shadow: rgba(1, 198, 139, 0.582) 0px 3px 8px;
    border-radius: 5px;
    width: 25% !important;
}

.mid_header_catagory_item_dropdown a {
    color: var(--black);
    font-weight: 600;
}

.mid_header_catagory_item a:hover {
    color: var(--green);
}

.mid_header_catagory_item_link {
    font-size: medium;
}

.mid_header_feature_search button {
    background-color: var(--background);
}

.mid_header_feature_search button:hover {
    box-shadow: rgba(3, 122, 102, 0.24) 0px 3px 8px;
}

.mid_header_feature_cart a ion-icon:hover {
    color: var(--green);
}

.bot_header_left ion-icon {
    color: var(--green);
}

.products_list_items {
    overflow-x: scroll;
    /* flex-wrap: wrap; */
}

.products_list_item {
    border-radius: 15px !important;
}

.roducts_list_more {
    border: 2px dashed var(--green) !important;
}

/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
}

.wrapper {
    min-width: 50%;
    max-width: 50%;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff; */
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red;   */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    /* box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff; */
    border: 2px solid var(--strong_green);
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

.sign_in,
.sign_up {
    width: 100%;
    height: 100%;
    z-index: 200;
}

#sign_up_link {
    color: var(--strong_green);
}

#sign_up_link:hover {
    color: var(--green);
    cursor: pointer;
}

#logo img {
    width: 27%;
}

#logo {
    background-color: var(--strong_green);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
    border-radius: 15px;
}

#sign_in_btn {
    background-color: var(--strong_green);
}

#sign_in_btn:hover {
    background-color: var(--green);
}

#forgot_pass {
    color: var(--strong_green);
}

#forgot_pass:hover {
    color: var(--green);
}

.close_signIn_signUp {
    background-color: var(--background);
    padding: 0.55% 1.05%;
    z-index: 2200;
    font-weight: 600;
    display: none;
}

.close_signIn_signUp:hover {
    cursor: pointer;
    background-color: red;
    color: var(--background);
}

#carouselExampleControls {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.item_card {
    width: 22%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 4px;
    background-color: #faf8f8;
    border-radius: 10px;
    min-width: 22%;
}

.item_card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.item_card_img{
    height: 270px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}

.item_card_new_price span {
    color: var(--green);
    font-weight: 600;
}

.item_card_name span {
    display: block;
    display: -webkit-box;
    height: 16px*1.3*3; /* Fallback for non-webkit */
    margin: 0 auto;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products_list_selling_title a {
    color: var(--strong_green);
    font-weight: 600;
    text-decoration: none;
}

.products_list_selling_title a:hover {
    color: var(--green);
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--green); 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--strong_green); 
}

.footer {
    background: var(--strong_green);
}

.footer_socialNetworkAddress_facebook:hover {
    color: var(--facebook);
    border-radius: 10;
}

.footer_socialNetworkAddress_twitter:hover {
    color: var(--twitter);
    border-radius: 10;
}

.footer_socialNetworkAddress_google:hover {
    color: var(--google);
    border-radius: 10;
}

.footer_socialNetworkAddress_pinterest:hover {
    color: var(--pinterset);
    border-radius: 10;
}

.footer_socialNetworkAddress_instagram:hover {
    color: var(--instagram);
    border-radius: 10;
}

.footer_socialNetworkAddress_skype:hover {
    color: var(--skype);
    border-radius: 10;
}

.product_detail_imgs {
    width: 40%;
}

.product_detail_img_section {
    overflow-x: scroll;
}

.product_detail_img {
    width: 200px;
    /* width: 33%; */
    border-bottom: 1px solid black;
}
.user_info {
    border: none;
    background: none;
    color: var(--strong_green);
}

.user_info:hover {
    color: var(--green);
}

ul {
    list-style-type: none;
}

.menu_item a {
    text-decoration: none;
    color: var(--strong_green);
}

.menu_item a:hover {
    color: var(--green);
}

.user_dropdown_menu {
    width: 300px;
}

.account_feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table, tr, th, td {
    border: 1px solid black;
    margin: 0 5px;
}

tr, th, td { 
    text-align: center;
}

.address {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.add_Address{
    border: 3px dotted;
    height: 92px !important;
}

.addAddress{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bg-green{
    background-color: var(--green);
}

.text-green{
    color: var(--strong_green);
}

.text-green:hover{
    color: var(--green);
}

.shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.fs-normal{
    font-size: large;
}

.w-33{
    width: 33.3333333333% !important;
}

.hover_green:hover{
    color: var(--strong_green) !important;
}